DATABASE_URL=postgresql://user:pass@host:5432/dbname
SECRET_KEY=changeme_generate_with_openssl_rand_hex_32
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MOCK_OTP=true
